h1 {
    color: aliceblue;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: aliceblue;
    background-color: blueviolet;
    text-align: center;
    font-style: italic;
}

h3 {
    color: black;
    background-color: rgb(163, 233, 255);
    text-align: right;
    text-decoration-line: underline;
}

h1, h2, h3 {
    font-family: cursive;
    margin: 100;
    padding: 10px
}